@model IEnumerable<EmployeesTest.Models.Entities.Employee>


@{
    ViewData["Title"] = "Index";
}

<h1>Працівники</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Додати нового співробітника</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronimyc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronimyc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @{var birthday = item.Birthday.ToShortDateString();}
                    @Html.DisplayFor(modelItem => birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Редагувати</a>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Детальніше</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Звільнити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
